.side-bar
  .side-header
    .side-box
      %p.user-name masa
      %ul.menu
        %li.new-group
          = link_to "#" do
            = icon('far', 'fa-edit', class: "fa-edit")
        %li.edit-user
          = link_to "#" do
            = icon('fas', 'fa-cog', class: "fa-cog")
  .groups
    .group-content
      .group-content__name
        %p techcamp
      .group-content__message
        %p まだメッセージがありません