.wrapper{
  display: flex;
  height: 100vh;
  .main-chat{
    width: calc(100vw - 300px);
    background-color: #ffffff;
    .main-header{
      height: 100px;
      width: calc(100vw - 300px);
      border-bottom: 1px solid #eeeeee;
      box-sizing: border-box;
      display: flex;
      padding: 0 40px;
      align-items: center;
      justify-content: space-between;
      background-color: #ffffff;
      .header-leftbox{
        margin-top: 35px;
        .current-group{
          margin-bottom:15px;
          color: #333333;
          font-size: 20px;
        }
        .member-list{
          font-size: 12px;
          color: #999999;
          display: flex;
          list-style: none;
          li{
            margin-left: 5px;
          }
        }
      }
      .edit{
        font-size: 16px;
        border: 1px solid #38aef0;
        margin-top:20px;
        padding: 12px 20px;
        color: #38aef0;
        text-decoration: none;
      }
      
    }
    .messages {
      background-color: #fafafa;
      height: calc(100vh - 190px);
      .message{
        padding: 35px 40px 0;
        .upper-message{
          background-color: #fafafa;
          display: flex;
          justify-content: flex-start;
          margin-bottom:12px;
          &__user-name{
            font-size: 16px;
            color: #333333;
          }
          &__date{
            color: #999999;
            font-size: 12px;
            padding-left: 10px;
          }
        }
        .lower-message{
          color: #434a54;
          font-size: 14px;
          padding-bottom: 40px;
        }
      }
    }
    .form{
      background-color: #d2d2d2;
      height: 50px;
      padding: 20px 40px;
      width: calc(100vw - 380px);
      position: relative;
      &__message{
        margin-right: 15px;
        font-size: 16px;
        height: 50px;
        width: calc(100vw - 515px);
        padding: 0 10px;
        color: #434a54;
        border-style: none;
      }
      &__mask{
        &__image{
          position: absolute;
          top: 33px;
          right: 170px;
          cursor: pointer;
          font-size: 25px;
          .hidden {
            display: none;
          }
        }
      }
      &__submit{
        top: 20px;
        right: 40px;
        position: absolute;
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        font-size: 16px;
        cursor: pointer;
        color:#ffffff;
      }
    }
  }
}

