.side-bar{
  width: 300px;
  background-color: #253141;
  .side-bar__user-name{
    background-color: #253141;
    height:100px;
    display: flex;
    align-items: center;
    .top-items{
      height: 20px;
      width: 260px;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      .header__name{
        color: #ffffff;
      }
      .header__lists{
        display: flex;
        justify-content: flex-end;
        list-style: none;
        width: 60px;
        .new-group{
          margin-right: 5px;
        }
      }
    }
  }

  .side-bar__groups-list{
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    .group{
      margin: 0 auto;
      width:260px;
      background-color: #2f3e51;
      &__name{
        padding:20px 0 5px;
        color:#ffffff;
        font-size:15px;
        font-weight:bold;
      }
      &__message{
        margin-bottom:40px;
        color:#ffffff;
        font-size:11px;
        font-weight:bold;
      }
    }
  }
  a {
    text-decoration: none;
    color: #ffffff;
  }
}